header{
    font-size: xx-large;
    font-weight: bold;
}
div{
    max-width: 55%;
    margin-top: 1em;
    margin-bottom: 1em;
}
table,td, th {
    border: 1px solid black;
}
.spain{
    font-weight: bold;
}
footer{
    margin-top: 1em;
    font-size: small;
}